notes/
**/node_modules
**frontend-example-docker
**backend-example-docker
**spring-example-project
**rails-example-project
**posti-location-service
**scaling-exercise
**ml-kurkkumopo-frontend
**ml-kurkkumopo-backend
**ml-kurkkumopo-training
